# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/artifacts/stage/linux/ELS/rt/
/artifacts/stage/macos/ELS/rt/
/artifacts/stage/windows/rt/
/build/build-stamp.propertie?
/build/*.dmg
/build/ELS.app/
/build/*.exe
/build/*.info
/build/*.jar
/build/*.tar.gz
/build/*.zip
/deploy/ELS-nav.ja?
/deploy-previous/
/deploy/Thumbs.d?
/docs/_site/
/.idea/workspace.xm?
/mock/bin/ELS.ja?
/mock/datastore/
/mock/datastore-backup/
/mock/ELS-Navigator*
/mock/jobs/
/mock/*.json
/mock/libraries/
/mock/License.tx?
/mock/local/
/mock/Notice.tx?
/mock/output/
/mock/private/
/mock/rt/
/mock/scripts/linux/9*
/mock/scripts/macOS/9*
/mock/scripts/windows/9*
/mock/system/
/mock/test/
/mock/test-backup/
/mock/tools/
/out
/src/META-INF/services/javax.annotation.processing.Processor

/mock/getLauncher.sh

### Mac OS ###
.DS_Store!/mock/bin/els-logo-48px.png

!/mock/bin/els-logo-48px.png
!/mock/bin/els-logo-98px.icns
!/mock/bin/els-logo-98px.ico
!/mock/bin/els-logo-98px.png

