# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/workspace.xml
/out
/mock/output/
/mock/test/
/mock/*.json
/deploy/ELS-nav.jar
/mock/scripts/linux/89-23-Navigator-rockplex.sh
/mock/scripts/linux/90-00-RockPlex-timeout.sh
/mock/scripts/linux/90-23-Navigator-rockplex-test.sh
/mock/scripts/linux/90-60_Publisher-RockPlex-test-job.sh
/mock/scripts/linux/90-61_Publisher-Any-test-job.sh
