<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<libraryKey>CFBundleDevelopmentRegion</libraryKey>
	<string>English</string>
	<libraryKey>CFBundleExecutable</libraryKey>
	<string>ELS-Navigator</string>
	<libraryKey>CFBundleGetInfoString</libraryKey>
	<string>By Corionis</string>
	<libraryKey>CFBundleIconFile</libraryKey>
	<string>els-logo-98px.icns</string>
	<libraryKey>CFBundleIdentifier</libraryKey>
	<string>ELS-Navigator</string>
	<libraryKey>CFBundleInfoDictionaryVersion</libraryKey>
	<string>6.0</string>
	<libraryKey>CFBundleLongVersionString</libraryKey>
	<string>Version 4.0.0, 19 November 2024</string>
	<libraryKey>CFBundleName</libraryKey>
	<string>ELS-Navigator</string>
	<libraryKey>CFBundlePackageType</libraryKey>
	<string>APPL</string>
	<libraryKey>CFBundleShortVersionString</libraryKey>
	<string>Version 4.0.0, 19 November 2024</string>
	<libraryKey>CFBundleSignature</libraryKey>
	<string>????</string>
	<libraryKey>CFBundleVersion</libraryKey>
	<string>4.0.0</string>
	<libraryKey>CSResourcesFileMapped</libraryKey>
	<true/>
	<libraryKey>NSHumanReadableCopyright</libraryKey>
	<string>https://github.com/Corionis/ELS-MacOSD-Launcher, GPL-3.0 License</string>
</dict>
</plist>
