<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="applog" fileName="${sys:logFilename}" filePattern="${sys:logFilename}.zip" append="true">
            <PatternLayout>
                <Pattern>%-5p %d{MM/dd/yyyy HH:mm:ss.SSS} %m [%t]:%C.%M:%L%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Roll if log larger than size -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- PatternLayout pattern="${sys:pattern}"/ -->
            <PatternLayout pattern="%-5p %d{MM/dd/yyyy HH:mm:ss.SSS} %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Levels: TRACE, DEBUG, INFO, WARN, ERROR, and FATAL -->
        <Logger name="applog" level="${sys:debugLevel}">
            <AppenderRef ref="applog"/>
        </Logger>
        <Root level="${sys:consoleLevel}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
